*{
  font-family: 'Song Myung', serif;
}
html{
  background-size: cover;
}
body{
  margin: 0;
}#header{
  z-index:1;
  margin:0 auto ;
  background-color: rgba(255 7455, 255, 0.8);
  height: 40px;
  width:100%;
  box-shadow: 0 0.6px rgb(155,155,155);
  position: fixed;
  top:-1px;
}
.mainbar{
  margin: 0 auto;
  width: 1200px ;
}
.leftMainBar div{
  float: left;
  padding: 9px 10px;
}
.leftMainBar div a{
  text-decoration: none;
  font-size: small;
  color: black;
}
.leftMainBar div a:hover{
  opacity: 50%;
}
