* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #aaef78;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
#header {
  width: 1200px;
  height: 100px;
  background-color: #5fcc41;
}
#nav1 {
  width: 600px;
  height: 100px;
  background-color: #2fd5e4;
  float: left;
}
#nav2 {
  width: 600px;
  height: 100px;
  background-color: #ececf0;
  float: left;
}
#a {
  clear: both;
}
#aside1 {
  width: 400px;
  height: 800px;
  background-color: #0ca960;
  float: left;
}
#aside2 {
  width: 300px;
  height: 800px;
  background-color: #ccc61e;
  float: left;
}
#Section {
  width: 800px;
  height: 800px;
  background-color: #12767d;
  float: left;
}
#footer {
  width: 1200px;
  height: 80px;
  background-color: #9d7de6;
  /*#바로 위에 section float: left때문에 안됀다*/
  clear: both;
}
