* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(229, 221, 221);
}
#wrap {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header header  header"
    "nav1 nav2 nav3 nav3"
    "aside aside section section"
    "footer1 footer2 footer3 footer4";
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 100px 100px 780px 100px;
}
#header {
  background-color: aqua;
  grid-area: header;
}
#nav1 {
  background-color: brown;
  grid-area: nav1;
}
#nav2 {
  background-color: rgb(58, 59, 154);
  grid-area: nav2;
}
#nav3 {
  background-color: rgb(156, 50, 147);
  grid-area: nav3;
}
#aside {
  background-color: cadetblue;
  grid-area: aside;
}
#section {
  background-color: blue;
  grid-area: section;
}

#footer1 {
  background-color: rgb(76, 124, 238);
  grid-area: footer1;
}
#footer2 {
  background-color: rgb(85, 182, 28);
  grid-area: footer2;
}
#footer3 {
  background-color: rgb(125, 103, 87);
  grid-area: footer3;
}
#footer4 {
  background-color: rgb(165, 105, 62);
  grid-area: footer4;
}
